@using EF = PERI.Prompt.EF
@using Core = PERI.Prompt.Core
@using BLL = PERI.Prompt.BLL
@model EF.Category
@{
    Layout = "~/Views/Shared/Blogger/Main.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Search categories
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12" id="main">
                        @using (Html.BeginForm())
                        {
                            @Html.HiddenFor(x => x.CreatedBy)
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label>Name</label>
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Name" })
                            </div>

                            <span style="color:red">@Html.ValidationSummary()</span>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default" id="clear">Clear</button>
                        }
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Categories
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body" style="overflow: auto">
                <a href="~/Main/Category/New" class="btn btn-primary">New</a>
                <a href="#" class="btn btn-default" id="delete">Delete</a>
                <a href="#" class="btn btn-default" id="activate">Activate</a>
                <a href="#" class="btn btn-default" id="deactivate">Deactivate</a>
                <br />
                <br />
                <table width="100%" class="table table-striped table-bordered table-hover" id="tbl">
                    <thead>
                        <tr>
                            <th class="head0" style="text-align: center; width: 5%"><input type="checkbox" id="checkall" /></th>
                            <th class="head0" style="text-align: center; width: 5%"></th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rec in (ViewBag.Data as IEnumerable<EF.Category>))
                        {
                            <tr class="odd gradeX">
                                <td><input type="checkbox" class="checkBox" value="@rec.CategoryId" /></td>
                                <td>

                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            Action
                                            <span class="fa fa-caret-down"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/Main/Category/Edit/@rec.CategoryId">Edit</a></li>
                                        </ul>
                                    </div>

                                </td>
                                <td>@rec.CategoryId</td>
                                <td>@rec.Name</td>
                                <td>@(rec.DateInactive == null)</td>
                            </tr>
                        }

                    </tbody>
                </table>

                <br />
                <br />
                <br />
                <br />
                <br />
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<script>
    $(document).ready(function () {
        $("#tbl").DataTable({
            "bFilter": false,
            "sPaginationType": "full_numbers",
            "order": [],
            "columnDefs": [{
                "targets": [0, 1, 2],
                "orderable": false
            }]
        });

        $("#clear").click(function () {
            $('#main').children().each(function () {
                $(this).find("input[type=text], textarea").val("");
                $(this).find("input[type=password]").val("");
                $(this).find("input[type=email]").val("");
                $(this).find('select').each(function () {
                    $(this).find('option:first').prop('selected', 'selected');
                });
            });
            return false;
        });

        $("#delete").click(function () {
            var flag = confirm('Are you sure you want to delete selected records?');

            if (!flag)
                return false;

            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            var options = {};
            options.url = "/main/category/delete";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert(msg);
                location.reload();
            };
            options.error = function () {
                alert("Error while deleting the records!");
            };
            $.ajax(options);

        });

        $("#activate").click(function () {
            var flag = confirm('Are you sure you want to activate selected records?');

            if (!flag)
                return false;

            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            var options = {};
            options.url = "/main/category/activate";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert(msg);
                location.reload();
            };
            options.error = function () {
                alert("Error while activating the records!");
            };
            $.ajax(options);

        });

        $("#deactivate").click(function () {
            var flag = confirm('Are you sure you want to deactivate selected records?');

            if (!flag)
                return false;

            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            var options = {};
            options.url = "/main/category/deactivate";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert(msg);
                location.reload();
            };
            options.error = function () {
                alert("Error while deactivating the users!");
            };
            $.ajax(options);

        });

        $("#checkall").change(function () {
            /*$("input:checkbox").prop('checked', $(this).prop("checked"));*/
            var chk = $(this).prop("checked");
            $("#tbl").find('input[type=checkbox]').each(function () {
                this.checked = chk;
            });
        });
    });
</script>