@using EF = PERI.Prompt.EF
@using Core = PERI.Prompt.Core
@model Tuple<EF.Blog, string, bool, Dictionary<string, bool>>
@{

    Layout = "~/Views/Shared/Blogger/Main.cshtml";
}

<script type="text/javascript" src="~/template/admin/datetimepicker/js/moment.js"></script>
<script type="text/javascript" src="~/template/admin/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" href="~/template/admin/datetimepicker/css/bootstrap-datetimepicker.css" />

<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="~/template/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

<link rel="stylesheet" href="~/template/admin/tagsinput/tagsinput.css">

<style>
    .crop {
        width: 200px;
        height: 150px;
        overflow: hidden;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit blog
            </div>
            <div class="panel-body">
                <div class="row">                    
                    @using (Html.BeginForm("Edit", "Blog", FormMethod.Post, new { enctype = "multipart/form-data", id="frm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.Item1.BlogId)

                        <div class="col-lg-7">
                            <div class="form-group">
                                <label>Title *</label>
                                @Html.TextBoxFor(x => x.Item1.Title, new { @class = "form-control", placeholder = "Title", required = "", maxlength = "50" })
                            </div>

                            <div class="form-group">
                                <label>Body *</label>
                                <div>
                                    @Html.TextAreaFor(x => x.Item1.Body, new { @class = "textarea", placeholder = "Body", style = "width: 100%; height: 350px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="form-group">
                                <label>Category *</label>
                                @foreach (var rec in Model.Item4)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <label>
                                                @Html.CheckBoxFor(x => x.Item4[rec.Key])
                                                @rec.Key
                                            </label>
                                        </label>
                                    </div>
                                }
                            </div>

                            <div class="form-group">
                                <label>Date Published *</label>
                                <div>
                                    @Html.TextBoxFor(x => x.Item1.DatePublished, new { @class = "form-control", placeholder = "Date Published", required = "" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Photo</label>

                                @if (Model.Item1.BlogPhoto.Count() > 0)
                                {
                                    <div class="crop">
                                        <img src="@string.Concat(this.Context.Request.Scheme, "://", this.Context.Request.Host, "/", Model.Item1.BlogPhoto.First().Photo.Url)" style="max-width:100%; max-height:250px" />
                                    </div>
                                }

                                <input type="file" name="photo" accept="image/*" id="fuPhoto"/>
                                <p class="help-block">Leave file-upload blanked if you don't need to update the photo.</p>
                            </div>

                            <div class="form-group">
                                <label>Attachments</label>
                                <input type="file" name="attachments" accept=".7z, .bzip2, .gzip, .tar, .rar, .wim, .xz, .zip" id="fuAttachments" multiple/>
                                @if (Model.Item1.BlogAttachment.Count() > 0)
                                {
                                    foreach (var attachment in Model.Item1.BlogAttachment)
                                    {
                                        <a href="#" onclick="deleteAttachment(@Model.Item1.BlogId, @attachment.AttachmentId)"><i class="fa fa-times" aria-hidden="true"></i> @System.IO.Path.GetFileName(attachment.Attachment.Url)</a><br/>
                                    }
                                }
                            </div>

                            <div class="form-group">
                                <label>Tags</label>
                                <div>
                                    @Html.TextBoxFor(x => x.Item2, new { placeholder = "Tags", type = "tags" })
                                </div>
                            </div>

                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(x => x.Item3)
                                    Is active
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-12 text-right">
                            <span style="color:red">@Html.ValidationSummary()</span>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="#" class="btn btn-default" onclick="window.history.back();">Cancel</a>
                            <a href="#" class="btn btn-default" id="btnPreview">Preview</a>
                        </div>
                    }
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<script>
    function processPreview(obj) {
        var options = {};
        options.url = "/main/blog/preview";
        options.type = "POST";
        options.enctype = "multipart/form-data";
        options.data = obj;
        options.processData = false;
        options.contentType = false;
        options.success = function () {
            window.open("/Blog/Preview", "_blank");
        };
        options.error = function (msg) {
            alert("Cannot process preview");
        };
        $.ajax(options);
    }

    function deleteAttachment(blogId, attachmentId) {

        var q = confirm("Are you sure you want to delete this attachment?");

        if (q) {
            var options = {};
            options.url = "/main/blog/deleteblogattachment/" + blogId + "/" + attachmentId;
            options.type = "GET";
            options.processData = false;
            options.contentType = false;
            options.success = function () {
                location.reload();
            };
            options.error = function (msg) {
                alert("Oops! An unexpected error occured.");
            };
            $.ajax(options);
        }
    }

    $(document).ready(function () {
        $(function () {
            $('#Item1_DatePublished').datetimepicker();
        });

        $("#btnPreview").click(function () {
            var files = document.getElementById('fuPhoto').files;
            var obj = {};

            // https://www.mkyong.com/jquery/jquery-ajax-submit-a-multipart-form/
            // Get form
            var form = $('#frm')[0];

            // Create an FormData object
            var data = new FormData(form);

            // If you want to add an extra field for the FormData
            data.append("BlogId", $("#Item1_BlogId").val());
            data.append("Title", $("#Item1_Title").val());
            data.append("Body", $("#Item1_Body").val());

            processPreview(data);
        });
    });
</script>

<!-- Bootstrap WYSIHTML5 -->
<script src="~/template/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

<script src="~/template/admin/tagsinput/tagsinput.js"></script>

<script>[].forEach.call(document.querySelectorAll('input[type="tags"]'), tagsInput);</script>

<script>
    var tagsInput = require('tags-input');

    // create a new tag input:
    var tags = document.createElement('input');
    tags.setAttribute('type', 'tags');
    tagsInput(tags);
    document.body.appendChild(tags);

    // enhance an existing input:
    tagsInput(document.querySelector('input[type="tags"]'));

    // or just enhance all tag inputs on the page:
    [].forEach.call(document.querySelectorAll('input[type="tags"]'), tagsInput);
</script>