@using EF = PERI.Prompt.EF
@using Core = PERI.Prompt.Core
@using BLL = PERI.Prompt.BLL
@model Tuple<EF.Blog, DateTime?, DateTime?>
@{
    Layout = "~/Views/Shared/Blogger/Main.cshtml";
}

<script type="text/javascript" src="~/template/admin/datetimepicker/js/moment.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Search blogs
            </div>
            <div class="panel-body">
                <div class="row">

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "main" }))
                    {
                        @Html.HiddenFor(x => x.Item1.CreatedBy)
                        @Html.AntiForgeryToken()
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Title</label>
                                @Html.TextBoxFor(x => x.Item1.Title, new { @class = "form-control", @placeholder = "Title" })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Date Published (from)</label>
                                @Html.TextBoxFor(x => x.Item2, new { @class = "form-control", @placeholder = "MM/DD/YYYY" })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Date Published (to)</label>
                                @Html.TextBoxFor(x => x.Item3, new { @class = "form-control", @placeholder = "MM/DD/YYYY" })
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <span style="color:red">@Html.ValidationSummary()</span>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default" id="clear">Clear</button>
                        </div>
                    }

                    <!-- /.col-lg-6 (nested) -->
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Blogs
            </div>

            <!-- /.panel-heading -->
            <div class="panel-body" style="overflow: auto">
                <a href="~/Main/Blog/New" class="btn btn-primary">New</a>
                <a href="#" class="btn btn-default" id="delete">Delete</a>
                <a href="#" class="btn btn-default" id="activate">Activate</a>
                <a href="#" class="btn btn-default" id="deactivate">Deactivate</a>
                <br />
                <br />
                <table width="100%" class="table table-striped table-bordered table-hover" id="tbl">
                    <thead>
                        <tr>
                            <th class="head0" style="text-align: center; width: 5%"><input type="checkbox" id="checkall" /></th>
                            <th class="head0" style="text-align: center; width: 5%"></th>
                            <th>Title</th>
                            <th>Categories</th>
                            <th>Author</th>
                            <th>Date Published</th>
                            <th>Tags</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rec in (ViewBag.Data as IEnumerable<EF.Blog>))
                        {
                            <tr class="odd gradeX">
                                <td><input type="checkbox" class="checkBox" value="@rec.BlogId" /></td>
                                <td>

                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            Action
                                            <span class="fa fa-caret-down"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/Main/Blog/Edit/@rec.BlogId">Edit</a></li>
                                        </ul>
                                    </div>

                                </td>
                                <td>@rec.Title</td>
                                <td>@String.Join(",", rec.BlogCategory.Select(x => x.Category.Name))</td>
                                <td>@rec.CreatedBy</td>
                                <td>@rec.DatePublished</td>
                                <td>@String.Join(",", rec.BlogTag.Select(x => x.Tag.Name))</td>
                                <td>@(rec.DateInactive == null)</td>
                            </tr>
                        }

                    </tbody>
                </table>

                <br />
                <br />
                <br />
                <br />
                <br />
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<script>
    $(document).ready(function () {

        $(function () {
            $('#Item2').datepicker();
            $('#Item3').datepicker();
        });

        $("#tbl").DataTable({
            "bFilter": false,
            "sPaginationType": "full_numbers",
            "order": [],
            "columnDefs": [{
                "targets": [0, 1],
                "orderable": false
            }]
        });

        $("#clear").click(function () {
            $('#main').children().each(function () {
                $(this).find("input[type=text], textarea").val("");
                $(this).find("input[type=password]").val("");
                $(this).find("input[type=email]").val("");
                $(this).find('select').each(function () {
                    $(this).find('option:first').prop('selected', 'selected');
                });
            });
            return false;
        });

        $("#delete").click(function () {
            var flag = confirm('Are you sure you want to delete selected records?');

            if (!flag)
                return false;

            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            var options = {};
            options.url = "/main/blog/delete";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert(msg);
                location.reload();
            };
            options.error = function () {
                alert("Error while deleting the records!");
            };
            $.ajax(options);

        });

        $("#activate").click(function () {
            var flag = confirm('Are you sure you want to activate selected records?');

            if (!flag)
                return false;

            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            var options = {};
            options.url = "/main/blog/activate";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert(msg);
                location.reload();
            };
            options.error = function () {
                alert("Error while activating the records!");
            };
            $.ajax(options);

        });

        $("#deactivate").click(function () {
            var flag = confirm('Are you sure you want to deactivate selected records?');

            if (!flag)
                return false;

            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });

            var options = {};
            options.url = "/main/blog/deactivate";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert(msg);
                location.reload();
            };
            options.error = function () {
                alert("Error while deactivating the users!");
            };
            $.ajax(options);

        });

        $("#checkall").change(function () {
            /*$("input:checkbox").prop('checked', $(this).prop("checked"));*/
            /*var chk = $(this).prop("checked");
            $("#tbl").find('input[type=checkbox]').each(function () {
                this.checked = true;
            });*/

            $("#tbl input:checkbox").prop('checked', $(this).prop("checked"));
        });
    });
</script>