@using EF = PERI.Prompt.EF
@using Core = PERI.Prompt.Core
@model Tuple<EF.Blog, string, bool, Dictionary<string, bool>>
@{    
    Layout = "~/Views/Shared/Blogger/Main.cshtml";
}

<script type="text/javascript" src="~/template/admin/datetimepicker/js/moment.js"></script>
<script type="text/javascript" src="~/template/admin/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" href="~/template/admin/datetimepicker/css/bootstrap-datetimepicker.css" />

<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="~/template/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

<link rel="stylesheet" href="~/template/admin/tagsinput/tagsinput.css">

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                New blog
            </div>
            <div class="panel-body">
                <div class="row">
                    @using (Html.BeginForm("New", "Blog", FormMethod.Post, new { enctype = "multipart/form-data", id="frm" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-lg-7">
                            <div class="form-group">
                                <label>Title *</label>
                                @Html.TextBoxFor(x => x.Item1.Title, new { @class = "form-control", placeholder = "Title", required = "", maxlength = "50" })
                            </div>

                            <div class="form-group">
                                <label>Body *</label>
                                <div>
                                    @Html.TextAreaFor(x => x.Item1.Body, new { @class = "textarea", placeholder = "Body", required = "", style = "width: 100%; height: 350px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-5">
                            <div class="form-group">
                                <label>Category *</label>
                                @foreach (var rec in Model.Item4)
                                {                                    
                                    <div class="checkbox">
                                        <label>
                                            <label>
                                                @Html.CheckBoxFor(x => x.Item4[rec.Key])
                                                @rec.Key
                                            </label>
                                        </label>
                                    </div>
                                }
                            </div>

                            <div class="form-group">
                                <label>Date Published *</label>
                                <div>
                                    @Html.TextBoxFor(x => x.Item1.DatePublished, new { @class = "form-control", placeholder = "Date Published", required = "" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Photo</label>
                                <input type="file" name="file" accept="image/*" id="fuPhoto" />
                            </div>

                            <div class="form-group">
                                <label>Tags</label>
                                <div>
                                    @Html.TextBoxFor(x => x.Item2, new { placeholder = "Tags", type = "tags" })
                                </div>
                            </div>

                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(x => x.Item3)
                                    Is active
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-12">
                                <span style="color:red">@Html.ValidationSummary()</span>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a href="#" class="btn btn-default" onclick="window.history.back();">Cancel</a>
                                <a href="#" class="btn btn-default pull-right" id="btnPreview">Preview</a>
                        </div>
                    }
                     
                </div>                
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- Bootstrap WYSIHTML5 -->
<script src="~/template/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

<script src="~/template/admin/tagsinput/tagsinput.js"></script>

<script>[].forEach.call(document.querySelectorAll('input[type="tags"]'), tagsInput);</script>

<script>

    function processPreview(obj)
    {
        var options = {};
        options.url = "/main/blog/preview";
        options.type = "POST";
        options.enctype = "multipart/form-data";
        options.data = obj;
        options.processData = false;
        options.contentType = false;
        options.success = function () {
            window.open("/Blog/Preview", "_blank");
        };
        options.error = function (msg) {
            alert("Cannot process preview");
        };
        $.ajax(options);
    }

    $(document).ready(function () {
        $(function () {
            $('#Item1_DatePublished').datetimepicker();
        });

        $("#btnPreview").click(function () {
            var files = document.getElementById('fuPhoto').files;
            var obj = {};

            // https://www.mkyong.com/jquery/jquery-ajax-submit-a-multipart-form/
            // Get form
            var form = $('#frm')[0];

            // Create an FormData object
            var data = new FormData(form);

            // If you want to add an extra field for the FormData
            data.append("Title", $("#Item1_Title").val());
            data.append("Body", $("#Item1_Body").val());

            processPreview(data);
        });
    });    
</script>

<script>
    var tagsInput = require('tags-input');

    // create a new tag input:
    var tags = document.createElement('input');
    tags.setAttribute('type', 'tags');
    tagsInput(tags);
    document.body.appendChild(tags);

    // enhance an existing input:
    tagsInput(document.querySelector('input[type="tags"]'));

    // or just enhance all tag inputs on the page:
    [].forEach.call(document.querySelectorAll('input[type="tags"]'), tagsInput);

</script>