@using PERI.Prompt.Web.Models
@model ChangePassword
@{
    Layout = "~/Views/Shared/Blogger/Main.cshtml";
}

<div class="box box-default">   
    <!-- form start -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="box-body">
            <div class="form-group">
                <label>Current password</label>
                @Html.TextBoxFor(x => x.CurrentPassword, new { placeholder = "Current password", type = "password", required = "", @class = "form-control" })
            </div>
            <div class="form-group">
                <label>New password</label>
                @Html.TextBoxFor(x => x.NewPassword, new { placeholder = "New password", type = "password", required = "", @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Re-enter new password</label>
                @Html.TextBoxFor(x => x.ReEnterNewPassword, new { placeholder = "Re-enter new password", type = "password", required = "", @class = "form-control" })
            </div>
            
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            @Html.ValidationSummary()
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    }
</div>

